


.AddItem { 
    width: 100%;
    
    border:1px solid #707070;
    border-radius: 8px; 
}



.AddItem-button { 
    background: linear-gradient(275deg,#774DF7, #00D4FF);
    border: none; 
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;

}




.AddItem-button::hover { 
    background: #774DF7;
    transform: 2s inline;
}