
.Search  { 
    border: 1px solid #707070;
    border-radius: 8px;
    
}


.search-button { 
    
    background: linear-gradient(275deg,#774DF7, #00D4FF);
    border: none; 
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
 
    /* padding-left: 3px 5px 3px px; */
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;
}


.search-icon { 
    width: 1em;
}