

.task-item { 
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #707070;
    border-radius: 12px; 
    margin: 1em 1em 1em 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

input { 
    border: 0; 
}

.list-text {
    display:inline-block; 
    margin-left: 10px; 
}

.icons { 
    width: 1.2em;
}

